#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

.content-wrapper {
    position: relative;
    z-index: 1;
}

.collapse-header {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.collapse-content {
    display: none;
    overflow: hidden;
}

.collapse-content.active {
    display: block;
}

/* Estilos do tema escuro - padrão */
body {
    background-color: #111418;
    color: #ffffff;
    transition: background-color 0.3s, color 0.3s;
}

.header,
.h2-title,
.modal-content,
.modal-background {
    background-color: #111418;
    color: #ffffff;
}

.header {
    border-bottom-color: #283039;
}

.hover-bg-color:hover {
    background-color: #283039;
}

.tag-bg {
    background-color: #283039;
    color: #ffffff;
}

/* Estilos do tema claro */
body.light {
    background-color: #f7f7f7;
    color: #111418;
}

body.light .header,
body.light .h2-title,
body.light .modal-content,
body.light .modal-background {
    background-color: #ffffff;
    color: #111418;
}

body.light .header {
    border-bottom-color: #d1d5db;
}

body.light .hover-bg-color:hover {
    background-color: #e5e7eb;
}

body.light .tag-bg {
    background-color: #e5e7eb;
    color: #111418;
}

.text-blue-primary {
    color: #3d99f5;
}


.skill{
    margin: 0.5% 0.5%;
}

/** Títulos **/
#skills h2,
#design-projects h2,
#web-projects h2,
#about-me h2{
    color: rgb(61, 153, 245);
    font-size: 2em;
    margin-top: 2em;
}

.badge-new{
    background-color: #ffffff;
    color: #111418;
    padding: 2%;
    border-radius: 0.5em;
}

/** Animações **/
.animate__delay-100ms {
    animation-delay: 100ms;
}

.animate__delay-200ms {
    animation-delay: 200ms;
}

.animate__delay-300ms {
    animation-delay: 300ms;
}

.animate__delay-400ms {
    animation-delay: 400ms;
}

.animate__delay-500ms {
    animation-delay: 500ms;
}

.animate__delay-600ms {
    animation-delay: 600ms;
}
